@import 'main.postcss';

.Sticker {
  position: sticky;
  top: 0;
  width: auto;
  z-index: var(--zIndex-5);

  &_sticky {
    position: fixed;
    position: sticky; /* stylelint-disable-line */

    &:not(.__native).__guessWidth {
      /* magic number from .App_content */
      width: calc(100% - var(--sidebarWidth));
    }
  }
}
