@import 'main.postcss';

:root {
  --cardBorderWidth: var(--hairThin);
  --statusAccentBorderWidth: 5px;
}

.Content {
  &.__withLeftPadding {
    padding-left: calc(var(--statusAccentBorderWidth) - var(--cardBorderWidth));
  }
}
