@import 'main.postcss';

:root {
  --borderWidth: var(--hairThin);
}

.Card {
  background: var(--colorBase);
  border: var(--borderWidth) solid var(--colorBorder);
  display: block;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
