@import 'main.postcss';

:root {
  --borderWidth: var(--hairThin);
}

.Card {
  background: var(--colorBase);
  display: block;
  -webkit-overflow-scrolling: touch;
  position: relative;

  &:not(.__borderless) {
    border: var(--borderWidth) solid var(--colorBorder);
  }
}
