@import 'main.postcss';

.Logo {
  height: 100%;

  & img {
    max-height: 100%;
  }

  &_sideBar {
    background-color: #8e8e93;
    display: block;
    height: calc(100% + 2em);
    margin-bottom: -1em;
    margin-left: -1em;
    margin-top: -1em;
    width: 2em;
  }
}
