@import 'main.postcss';

.Logo {
  margin-left: 1.33em;
  margin-top: 1em;
  height: 2.5em;
  width: 4.25em;
  order: 1;

  &_sideBar {
    width: 2em;
    display: inline-block;
    background-color: #8e8e93;
  }
}
