/.dlls
/.idea
/bower_components
/config/development.json
/deploy_key.pem
/dist*
/lib
/node_modules
/coverage
/npm-debug.log
/npm-debug.log.*
/package-stats.html
/selenium-debug.log
/test-results
/yarn-error.log
/.happypack
/junit.xml
