{
  "extends": "stylelint-config-standard",
  "rules": {
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-properties-order": "alphabetical",
    "font-family-name-quotes": "single-unless-keyword",
    "function-url-quotes": "single",
    "string-quotes": "single"
  }
}
