@import 'main.postcss';

.Select {
  margin-bottom: 1em;

  &_element {
    &.__required {
      & :global(.Select-control) {
        border-color: var(--colorWrong);
      }
    }
    &_validationError {
      color: var(--colorWrong);
      display: block;
    }
  }
}
