@import 'main.postcss';

.SessionNav {
  display: flex;

  &_emptyBtn {
    width: 2em;
  }

  &_back, &_forward {
    border-bottom: 0.25em solid;
    border-right: 0.25em solid;
    display: flex;
    height: 2em;
    margin-top: 1em;
    width: 2em;
  }

  &_back {
    transform: rotate(135deg);
  }

  &_forward {
    transform: rotate(-45deg);
  }

  &_content {
    list-style-type: none;
  }
}
