@import 'main.postcss';

.SelectionTable {
  &_heading {
    @mixin fontHeading;

    display: flex;

    &_route {
      align-self: center;
      min-width: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &_back {
      align-self: center;
      display: inline-flex;
      min-width: 20px;
    }

    &_route,
    &_back {
      cursor: pointer;
      margin-right: 10px;
    }
  }

  &_header {
    align-items: center;
  }
}
