:root {
  --defaultHeadingFontSize: 18px;
}

.SelectionTable {
  &_heading {
    display: flex;
    font-size: var(--defaultHeadingFontSize);
    font-weight: normal;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &_route {
      cursor: pointer;
      margin-right: 20px;
    }

    &_back {
      display: inline-flex;
      margin-top: 2px;
    }
  }
}
