@import 'flexboxgrid/src/css/flexboxgrid.css';

:root {
  --outer-margin: 0;
}

@custom-media --sm-viewport only screen and (min-width: 480px);
@custom-media --md-viewport only screen and (min-width: 800px);
@custom-media --lg-viewport only screen and (min-width: 980px);
