@import 'main.postcss';

:root {
  --moduleContainerMarginTop: 20px;
}

.PageCard {
  background: var(--colorCardBg);
  box-shadow: var(--cardBoxShadow);
  position: relative;
}

.PageCard + .PageCard {
  margin-top: var(--moduleContainerMarginTop);
}
