@import 'main.postcss';

.Student {
  align-items: center;
  display: flex;
  flex-direction: column;

  &_image {
    display: block;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    margin: 0.5em 1em;
    border: 2px solid #000;
    background-color: #8e8e93;
    cursor: pointer;
  }

  &_info {
    text-align: center;
  }

  &.__disabled {
    opacity: 0.4;
  }
}
