@import 'main.postcss';

.TopNavShowcase {
  &_menuGroup {
    &_moreItems {
      border-color: #8e8e93 transparent transparent;
      border-style: solid;
      border-width: 0.5em 0.5em 0;
      height: 0;
      width: 0;
    }
  }
}
