@import 'main.postcss';

.TextInput {
  margin-bottom: 1em;
  &_label {
    width: 15em;
    display: inline-block;
  }
  &_validationError {
    display: inline-block;
    color: var(--colorWrong);
  }
}
