@import 'main.postcss';

.ButtonContainer {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  width: 100%;

  &.__alignCenter {
    justify-content: center;
  }

  &.__alignRight {
    justify-content: flex-end;
  }
}
