@import 'main.postcss';

.ExpandTable {
  position: relative;

  &_expandCell {
    cursor: pointer;
    padding: 0 !important;
    position: relative;
  }

  &_expandedCell {
    padding: 0 !important;
  }

  &_expandedRow {
    & td {
      padding: 0 !important;
    }

    &_content {
      left: 0;
      position: absolute;
      width: 100%;
      z-index: var(--zIndex-1--expandedTableRow);
    }
  }
}
