@import 'main.postcss';

.ErrorDialog {
  max-width: 400px;
  padding: 22px 15px; /* 30px content pad */

  &_icon {
    font-size: 30px;
  }

  &_content {
    padding: 20px 0 30px;
    text-align: center;
  }

  &_buttons {
    min-width: 220px;
  }
}
