@import 'main.postcss';

.TopNav {
  align-items: center;
  border: 1px #8e8e93 solid;
  box-shadow: var(--cardShadow);
  display: flex;
  height: 5em;
  justify-content: space-between;
  padding: 1em;
}
