@import 'main.postcss';

.TopNav {
  align-items: center;
  background-color: var(--colorNavSectionBg);
  border-bottom: 1px solid var(--colorBorder);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 5em;
  position: relative;
}
