.App {
  display: flex;
  flex-direction: column;
  height: 100%; /* INTERNET EXPLORER */
  min-height: 100vh;

  &_wrap {
    display: flex;
    flex: 1 0 auto;
  }

  &_content {
    flex: 1 1 auto;
    overflow: auto;
    width: 100%;
  }
}
