.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &_content {
    align-items: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;

    & > div {
      flex: 1;
    }
  }
}
