@import 'main.postcss';

.HorizontalSelect {
  margin: 20px 0;

  &_options_wrapper {
    display: flex;
    flex-wrap: nowrap;
    user-select: none;
    width: fit-content;
  }

  &_option {
    @mixin cardbg;
    @mixin cardshadow;

    border: 1px solid var(--colorBorder);
    margin-right: 10px;
    min-height: 100px;
    min-width: 100px;
  }
}
