.HorizontalSelect {
  margin: 20px 0;

  &_options_wrapper {
    display: flex;
    flex-wrap: nowrap;
    user-select: none;
    width: fit-content;
  }

  &_option {
    border: 1px solid black;
    margin-right: 10px;
    min-height: 100px;
    min-width: 100px;
  }
}
