@import 'main.postcss';

.Grid {
  margin-bottom: -var(--spaceBase);

  @media (--md-viewport-new) {
    margin-bottom: -var(--spaceBaseLgViewport);
  }

  &:not(.__outerMargin) {
    padding-left: 0;
    padding-right: 0;
  }

  &.__outerMargin {
    padding-bottom: var(--spaceBase);
    padding-top: var(--spaceBase);

    @media (--md-viewport-new) {
      padding-bottom: var(--spaceBaseLgViewport);
      padding-top: var(--spaceBaseLgViewport);
    }
  }
}
