@import 'main.postcss';

.ErrorPage {
  align-items: center;
  color: var(--colorTextSecondary);
  display: flex;
  flex-direction: column;
  font-size: var(--fontSize-lg);
  justify-content: center;
  padding: var(--spaceBase);
  text-align: center;

  &_image {
    height: 40px;
    margin-bottom: 30px;
  }

  &_text {
    /* - */
  }

  &_button {
    margin-top: 30px;
  }
}
