@import 'main.postcss';

.Profile {
  align-items: center;
  display: flex;

  &_picture {
    background-color: #8e8e93;
    border-radius: 50%;
    display: block;
    height: 3em;
    width: 3em;
  }
}
