@import 'main.postcss';

.SelectionTooltip {
  background-color: var(--colorBg);
  border: 1px sollid var(--colorTableStripe);
  padding: var(--spaceBase);

  &_input {
    background-color: var(--colorBase);
    padding: var(--spaceBase) 0;
  }

  &_note {
    display: flex;
    margin-top: var(--spaceBase);
  }
}
