@import 'main.postcss';

.ConfirmDialog {
  max-width: 400px;
  padding: 22px 15px; /* 30px content pad */

  &_title {
    font-weight: bold;
    text-align: center;
  }

  &_icon {
    font-size: 30px;
  }

  &_content {
    padding: 20px 0 30px;
    text-align: center;
  }

  &_secondMessage {
    display: inline-block;
    margin-top: 20px;
  }

  &_buttons { /* ... */ }

  &_button { /* ... */ }
}
