@import 'main.postcss';

.Overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 2.5em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--zIndex-8--modalPopup);
}

.Dialog {
  display: flex;
  max-height: 100%;
  max-width: 100%;
  outline: none;
}
