@import 'main.postcss';

.Table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;

  & tr {
    vertical-align: top;
  }

  & td,
  & th {
    padding: var(--touchablePaddingVertical) var(--touchablePaddingHorizontal);
  }

  & td {
    background-color: #ccc;
  }

  & th {
    background-color: #aaa;
    outline: none;
  }
}
