@import 'main.postcss';

:root {
  --colorBg: var(--colorBorder);
  --colorProgress: var(--colorPrimary);
  --height: 0.25em;
}

.ProgressBar {
  background-color: var(--colorBg);
  height: var(--height);
  overflow: hidden;
  position: relative;

  &_progress {
    background-color: var(--colorProgress);
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
  }
}
