@import './variables.postcss';

@define-mixin fontNormal {
  font-family: var(--fontFamily);
  font-size: var(--fontSize-md);
  font-weight: var(--fontWeight-regular);
}

@define-mixin fontButton {
  font-family: var(--fontFamily);
  font-size: var(--fontSize-sm);
  font-weight: var(--fontWeight-medium);
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
