@import 'main.postcss';

.Cell {
  background-color: #ccc;
  padding-bottom: var(--touchablePaddingVertical);
  padding-left: var(--touchablePaddingHorizontal);
  padding-right: var(--touchablePaddingHorizontal);
  padding-top: var(--touchablePaddingVertical);

  &.__header {
    background-color: #aaa;
  }
}
