@import 'main.postcss';

.Content {
  padding-bottom: var(--touchablePaddingVertical);
  padding-left: var(--touchablePaddingHorizontal);
  padding-right: var(--touchablePaddingHorizontal);
  padding-top: var(--touchablePaddingVertical);
}
