@import 'main.postcss';

.Content {
  padding-bottom: var(--cardContentPaddingVertical);
  padding-left: var(--cardContentPaddingHorizontal);
  padding-right: var(--cardContentPaddingHorizontal);
  padding-top: var(--cardContentPaddingVertical);

  &.__bottomless {
    padding-bottom: 0;
  }
}
