@import 'main.postcss';

.Sticky {
  top: 0;
  z-index: var(--zIndex-7--stickyNavBar);

  &:global(.fixedsticky-on) {
    width: 100%;

    @media (--md-viewport-new) {
      width: calc(100% - var(--sidebarWidth));
    }
  }
}
