@import 'main.postcss';

.Sticky {
  &_placeholder {
    display: none;
    visibility: hidden;
  }

  &.__sticky {
    & .Sticky_wrapper {
      position: fixed !important;
      top: 0;
      width: 100%;
      z-index: var(--zIndex-7--stickyNavBar);

      @media (--md-viewport-new) {
        width: 100%;
      }
    }

    & .Sticky_placeholder {
      display: block;
    }
  }
}
