@import 'main.postcss';

.Sticky {
  position: static !important;

  &_placeholder {
    display: none;
    visibility: hidden;
  }

  &:global(.js-is-sticky) {
    & .Sticky_wrapper {
      position: fixed !important;
      top: 0;
      width: 100%;
      z-index: var(--zIndex-7--stickyNavBar);

      @media (--md-viewport-new) {
        width: calc(100% - var(--sidebarWidth));
      }
    }

    & .Sticky_placeholder {
      display: block;
    }
  }
}
